@media screen and (min-width: 601px) {
.cards__title {
  margin: 0;
  padding: 24px 0 0 24px;
  font-size: 20px;
  font-weight: 400;
}
}

@media screen and (max-width: 600px) {
  .cards__title {
    margin: 0;
    padding: 14px 0 0 11px;
    font-size: 12px;
    font-weight: 400;
  }
  }
