@media screen and (min-width: 601px) {
  .footer__socials {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 55px 0 72px;
    min-width: 25%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .footer__socials {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 30px 0;
    min-width: 25%;
    justify-content: space-between;
  }
}
